html {
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

* {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.navbar {
  margin-bottom: 0;
}

/* navigation links */
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold !important;
}

/* navbar hover */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #4a869e !important;
  transition: 0.8s !important;
}

/* nav background color */
.bg-dark {
  background-color: rgba(64, 65, 66, 0.5) !important;
}

.container {
  height: 100vh !important;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

#home {
  text-align: center;
  padding-top: 15%;
  background: url(https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-light {
  background-color: rgba(64, 65, 66, 0) !important;
  border-color: white !important;
  color: white !important;
}

/* button links */
button a {
  color: white !important;
}

button a:hover {
  color: #4a869e !important;
  text-decoration: none;
}

#aboutme {
  text-align: center;
  padding-top: 8%;
  background: url(https://images.pexels.com/photos/1498964/pexels-photo-1498964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

#aboutme .container {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2)
  );
}

#mywork {
  text-align: center;
  padding-top: 9%;
  background: url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#mywork h1 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

#mywork ul {
  text-align: left;
}

/* Projects */

.technology {
  background-color: rgba(64, 65, 66, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.slider {
  background-color: rgba(64, 65, 66, 0);
  border-radius: 10px;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  position: relative;
  overflow: hidden;
  width: 48em;
  max-width: 100%;
  min-height: 25em;
  /* width: 768px;
  max-width: 100%;
  min-height: 100%; */
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.initial-left {
  left: 0;
  width: 50%;
  z-index: 2;
}

#project-1 {
  background: url("../img/willowgrove.png");
}

#project-2 {
  background: url("../img/mining.jpg");
}

.slider.right-panel-active .initial-left {
  transform: translateX(100%);
}

.second-right {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.slider.right-panel-active .second-right {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.slider.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: rgba(64, 65, 66, 0.7);
  /* background: black; */
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.slider.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.second-left {
  transform: translateX(-20%);
}

.slider.right-panel-active .second-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.slider.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

#contact {
  text-align: center;
  padding-top: 15%;
  background: url(https://images.pexels.com/photos/955081/pexels-photo-955081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

#contact .container {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.05)
  );
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  #aboutme .container {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    );
  }

  #aboutme {
    font-size: 90%;
  }

  #mywork {
    overflow: scroll;
  }

  #mywork .row .col-lg-6 {
    margin-top: 1em;
  }

  #mywork .col-lg-6 {
    height: 100vh;
  }
}

@media only screen and (max-width: 770px) {
  #aboutme .container {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    );
    overflow: scroll;
  }

  #aboutme {
    font-size: 100%;
    overflow: scroll;
  }

  #contact .container {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    );
  }
}
