*,
*::before,
*::after {
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 1196px;
  max-width: 100%;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section h2 {
  text-align: center;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section h2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 110%;
  border-bottom: 3px solid #017374;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  font-family: "Roboto", sans-serif;
  color: #1f3b4d;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

p {
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  color: #d0fefe;
  background-color: #017374;
  padding: 0.2em 0.8em;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0.05em 0.05em 0.1em);
          filter: drop-shadow(0.05em 0.05em 0.1em);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.btn:hover {
  color: #1f3b4d;
  background: #5dd7da;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0;
}

nav .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 700;
  -webkit-filter: drop-shadow(0.04em 0.04em 0.01em);
          filter: drop-shadow(0.04em 0.04em 0.01em);
}

nav .logo span .left {
  color: #1f3b4d;
}

nav .logo span .right {
  color: #017374;
}

nav .navbar {
  margin-left: auto;
}

nav .navbar .nav-item {
  font-weight: 600;
  letter-spacing: 2px;
}

nav .navbar .nav-item .nav-link {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  position: relative;
}

nav .navbar .nav-item .nav-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #1f3b4d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

nav .navbar .nav-item .nav-link:hover {
  color: #017374;
}

nav .navbar .nav-item .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  border-color: #017374;
  border-width: 2px;
}

nav .navbar .nav-item + .nav-item {
  margin-left: 4rem;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .hero {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d0fefe), color-stop(50%, white));
    background: linear-gradient(to right, #d0fefe 50%, white 50%);
  }
}

@media (max-width: 1024px) {
  .hero {
    background-color: #d0fefe;
  }
}

.hero .hero-heading {
  font-size: 6.4rem;
  margin-left: -2px;
}

.hero .hero-blurb {
  margin-bottom: 2rem;
}

.hero .resume {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.hero .social-icons {
  font-size: 3rem;
}

.hero .social-icons i {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.hero .social-icons i:hover {
  color: #017374;
}

.about {
  background-color: #f1f5f8;
}

.about .flex:first-of-type {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .left,
.about .right {
  width: 45%;
}

.about .right .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.about .right .about-skills {
  margin-top: 2rem;
}

.about .right .about-skills .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 -1em;
}

.about .right .about-skills .flex .skill {
  color: #1f3b4d;
  background-color: #d0fefe;
  margin: 1rem;
  padding: 0.2em 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 1px;
  -webkit-filter: drop-shadow(0.02em 0.02em 0.05em);
          filter: drop-shadow(0.02em 0.02em 0.05em);
}

.experience .flex .left {
  margin-right: 130px;
}

.experience .flex .left .company-name {
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
  color: #1f3b4d;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.experience .flex .left .company-name:hover {
  color: #017374;
}

.experience .flex .left .company-name + .company-name {
  margin-top: 2rem;
}

.experience .flex .right .position {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 3px;
}

.experience .flex .right .company-title {
  margin-top: 1rem;
  color: #1f3b4d;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.experience .flex .right .company-title a {
  font-family: "Roboto", sans-serif;
}

.experience .flex .right .years-worked {
  letter-spacing: 5px;
  color: #1f3b4d;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.experience .flex .right .experience-list-item {
  color: #1f3b4d;
}

.experience .flex .right .experience-list-item + .experience-list-item {
  margin-top: 2rem;
}

.services {
  background-color: #f1f5f8;
}

.services .cards .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .cards .flex .card {
  width: 30%;
  background: white;
  padding: 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5));
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.services .cards .flex .card .card-icon {
  font-size: 2.5rem;
}

.services .cards .flex .card .card-title {
  letter-spacing: 5px;
  font-size: 16px;
  margin: 1rem 0;
}

.services .cards .flex .card .card-text {
  width: 80%;
  opacity: 0.8;
}

.services .cards .flex .card:hover {
  background-color: #017374;
  color: white;
}

.services .cards .flex .card:hover .card-title {
  color: white;
}

.projects {
  background: #e8e8e8;
}

.projects .project-container .project + .project {
  margin-top: 4rem;
}

.projects .project-container .project .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project-container .project:nth-child(even) .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects .project-container .project .left {
  width: 60%;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
}

footer a,
footer i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */